main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

img{
  height: 160px;
  border-radius: 50%;
  text-align: center;
  margin-bottom:25px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
  border-radius:100%;
  margin-top:45px;
  
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.image {
  background-color: orange;
}

.blue {
  background-color: blue;
}