main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.navbar{
  height:50px;
  background-color:black;
  color:white;
  margin-bottom:50px;
}

h1{
  padding-top:8px;
  padding-left:15px;
}

img{
  height: 160px;
  border-radius: 50%;
  text-align: center;
  margin-bottom:25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.instruction{
  
  height:500px;
  font-family: 'Coiny', cursive;
  font-size:50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  margin: 7px;
  padding: 15px;
  color: white;
  font-size: 1.12em;
  border-radius: 7px;
  background-color: lightblue;
  background: linear-gradient(lightgrey,black);
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
  border-radius:100%;
  margin-top:45px;
  
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.image {
  background-color: orange;
}

.blue {
  background-color: blue;
}

/*footer*/
.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}
